body { background-color: #177E0B
	}

h1 { color: #A5A3B5;
     text-align: center}
h2 { color: #A5A3B5;
     }

p  { color: #A5A3B5;
     }
a  { color: #A5A3B5;
	}
     
div { top-padding: 1;
	bottom-padding: 1}
